/* Our CSS file. */


.container, .content {
width: 100%;
height: 100%;
background-color: gray;
}
#nature{
    background-color: lightgrey;
}
.card1{
    width:95%;
    height: 50%;
    display: inline-block;
    
    margin: 30px;
    
    
    display: flex;
}
.card2{
    width:95%;
    height: 50%;
    display: inline-block;
   
    margin: 30px;
    display: flex;
    
}
.image1{
    background-color: rgb(8 241 101 / 77%);
    width:40%;
    
    float: left;
}

.para1{
    width:60%;
    float: right;
    display:inline-block ;
    background-color: white;
}
.image2{
    background-color: rgb(8 241 101 / 77%);
    
    float: left;
    
}
.para2{
    width:60%;
    float: right;
    display:inline-block ;
    background-color: white;
}
.link{
    border-radius: 40%;
    width: 150px;
    height:50px;
    background-color: lightgreen;
    
}
/*.topic ,.paragrah {
    text-align: center;
    margin: 50px 50px 50px 50px;
}*/